section#register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#register .box-form {
  margin-top: -12vh;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.15);
  height: 400px;
  color: #444;
  width: 650px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
section#register .box-form .box-content {
  padding: 3rem;
}
section#register .box-form .box-content .form-title {
  padding-bottom: 3rem;
}
section#register .box-form .box-content form .form-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
section#register .box-form input {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

section#register .box-form .box-content form button {
  background: #3483fa;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  padding: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    filter: brightness(90%);
  }
}

section#register .box-signup {
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.15);

  background: #f5f5f2;
  text-align: center;
  width: 100%;
  padding: 1.2rem;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

section#register .box-signup span u {
  color: #159;
}

section#register .box-help {
  color: #444;
  width: 625px;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
